# Dependências
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
*.tsbuildinfo

# Ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Editores
.DS_Store
.vscode/settings.json
.idea/
*.swp

# Docker
.docker/

# Cobertura de testes
coverage/

# Misc
*.pem
